.staff {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 200px;
}
.staff h1 {
  color: palevioletred;
  text-align: center;
  margin-bottom: 50px;
}
.staff .sta {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 300px;
}
.staff .sta .envi {
  width: 270px;
  height: 150px;
  margin-top: 50px;
}
.staff .sta .envi h2 {
  text-align: center;
  color: palevioletred;
}
.staff .sta .envi p {
  text-align: center;
  color: rgb(0, 0, 0);
}
.staff .sta .envi .ser1 {
  width: 200px;
  height: 200px;
  background-image: url("../images/pamela.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 15px;
  border-radius: 120px;
}
.staff .sta .envi .ser2 {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  background-image: url("../images/carlos.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 120px;
}
.staff .sta .envi .ser3 {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  background-image: url("../images/carol.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 120px;
}
.staff .sta .envi .ser4 {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  background-image: url("../images/luis.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 120px;
}